/* body {
    background-color: #90ADBB;
    display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background-color: #90ADBB;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
}

.signup-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
} */
